<nav>
    <div class="nav-wrapper #bcaaa4 brown">
     <a href="#" class="brand-logo">
        <div class="cat">
            <img src="https://i.pinimg.com/564x/60/91/1a/60911a438432a05b6d02398846c6dcb7.jpg" />
        </div>
	 </a>
     
     <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="activeSession"><a routerLink="/admin/get">Usuarios</a></li>
      <li *ngIf="activeSession"><a routerLink="/aeropuertos/get">Aeropuertos</a></li>
      <li *ngIf="activeSession"><a routerLink="/rutas/get">Rutas</a></li>
      <li *ngIf="activeSession"><a routerLink="/vuelos/get">Vuelos</a></li>
     
	  
	  
	  
	  <!-- Sesion -->
      <li *ngIf="!activeSession"><a routerLink="/seguridad/login">Login</a></li>
      <li *ngIf="!activeSession"><a routerLink="/admin/create">Registrarse</a></li>
      <li *ngIf="activeSession"><a routerLink="/seguridad/logout">Cerrar Sesion</a></li>
	 </ul>
    </div>
</nav>
